@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Glagolitic&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: 'Noto Sans Glagolitic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
