.tic-tac-toe-container {
  text-align: center;
  margin-top: 80px;

  .tic-tac-toe-board {
    height: 33rem;
    width: 31rem;
    display: flex;
    margin: auto;

    .tic-tac-toe-boxes {
      display: flex;
      height: 10rem;
      width: 10rem;
      margin: 4px;
      border-radius: 12px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }

  .tic-tac-toe-reset-button {
    width: 9.8rem;
    height: 3.75rem;
    border: none;
    border-radius: 16px;
    outline: none;
    font-size: 1rem;
    margin-top: 80px;
  }

  h2 {
    font-size: 1.5rem;
  }
  @media(max-width: 550px) {
    .tic-tac-toe-board {
      margin-top: 15px;
      height: 24.75rem;
      width: 23.25rem;

      .tic-tac-toe-boxes {
        height: 7.5rem;
        width: 7.5rem;
      }
    }
  }

  @media(max-width: 430px) {

    .tic-tac-toe-board {
      margin-top: 10px;
      height: 16.5rem;
      width: 15.5rem;

      .tic-tac-toe-boxes {
        height: 5rem;
        width: 5rem;
      }
    }
  }
}

